<!DOCTYPE html>
<html>
  <head>
    <%- include("./includes/head.ejs", {Page: "New"}) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>
      <!-- jsPanel CSS -->
  <link href="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/jspanel.css" rel="stylesheet">
  <!-- jsPanel JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/jspanel.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

  <!-- optional jsPanel extensions -->
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/modal/jspanel.modal.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/hint/jspanel.hint.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/layout/jspanel.layout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/dock/jspanel.dock.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/nl.min.js" integrity="sha512-ZfjeSBuSwzLsxhAXsxOEZOTxFJPcSYQx8l/0kN0x1Ze2SWsQU0K3hcrqEz0LpCabQuQNlOuUGHERv1ibLRtnnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      flatpickr.localize(flatpickr.l10ns.nl);
      var calendar;
      var Panels = {};

      function NewEvent(Date, Data) {
        if(Panels["NewEvent"] !== undefined) { Panels["NewEvent"].close(); }
        Panels["NewEvent"] = jsPanel.create({
          onclosed: function(panel, closedByUser) {
              delete Panels["NewEvent"];
          },
          contentAjax: {
            method: "POST",
            url: "/modal/NewEvent?date="+Date,
            data: JSON.stringify(Data),
            // done: function (xhr, panel) {
            //   panel.content.innerHTML = xhr.responseText;
            // },
            beforeSend: function() {
                this.setRequestHeader('Content-Type', 'application/json');
            },
          },
          headerTitle: "New Event: "+Date,
          theme: 'dark',
          border: 'thick',
          contentSize: "75vw 75vh"
        });
      }
      function EditEvent(URL, Name, Data) {
        if(Panels["EditEvent-"+Data.extendedProps.ID] !== undefined) { Panels["EditEvent-"+Data.extendedProps.ID].close(); }
        Panels["EditEvent-"+Data.extendedProps.ID] = jsPanel.create({
          onclosed: function(panel, closedByUser) {
              delete Panels["EditEvent-"+Data.extendedProps.ID];
          },
          contentAjax: {
            method: "POST",
            url: URL,
            data: JSON.stringify(Data),
            // done: function (xhr, panel) {
            //   panel.content.innerHTML = xhr.responseText;
            // },
            beforeSend: function() {
                this.setRequestHeader('Content-Type', 'application/json');
            },
          },
          headerTitle: Name,
          theme: 'dark',
          border: 'thick',
          contentSize: "75vw 75vh"
        });
      }

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            meridiem: false,
            hour12: false,
          },
          firstDay: 1,
          dateClick: function(info) {
            NewEvent(info.dateStr, info);
          },
          eventDisplay: 'block',
          eventClick: function(info) {
            info.jsEvent.preventDefault();

            if (info.event.url) {
              EditEvent(info.event.url, info.event.title, info.event);
              console.log(info);
            }
          },
          events: '/api/GetFeed',
        });
        calendar.render();
      });
    </script>
  </head>
  <body>
    <%- include("./includes/nav.ejs", {}) %>
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
            <div id='calendar'></div>
        </div>
        <div class="column">
          <div class="list">
            <div class="list-item">
          
              <div class="list-item-content">
                <div class="list-item-title">List item</div>
                <div class="list-item-description">List item description</div>
              </div>
          
              <div class="list-item-controls">
                <div class="buttons is-right">
                  <button class="button">
                    <span class="icon is-small">
                      <i class="far fa-calendar-times"></i>
                    </span>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    function CheckCron() {
        var http = new XMLHttpRequest();
        var url = '/api/VerifyCron';
        var params = 'CronTime='+document.getElementById("CronSel").value;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(params);
    }
    function hint(content) {
      jsPanel.hint.create({
        position: 'center-top 0 15 down',
        contentSize: '330 auto',
        content: content,
        theme: 'success filled',
        headerTitle: '<i class="fa-regular fa-message"></i> Response',
        autoclose: '5s'
      });
    }

    function BlockTime(ID, Data) {
        var http = new XMLHttpRequest();
        var url = '/api/blocktime/'+ID;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/json');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                hint(http.responseText);
                calendar.refetchEvents();
                Panels["EditEvent-"+Data.extendedProps.ID].close();
            }
        }
        http.send(JSON.stringify(Data));
    }
    function UnblockTime(ID, Data) {
        var http = new XMLHttpRequest();
        var url = '/api/Unblocktime/'+ID;
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/json');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                hint(http.responseText);
                calendar.refetchEvents();
                Panels["EditEvent-"+Data.extendedProps.ID].close();
            }
        }
        http.send(JSON.stringify(Data));
    }
    </script>
  </body>
</html>