<!DOCTYPE html>
<html>
  <head>
    <%- include("./includes/head.ejs", {Page: "New"}) %>
    <script src="/assets/FontAwesome.Pro.6.0.0.Beta1/web/js/fontawesome.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>
      <!-- jsPanel CSS -->
    <link href="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/jspanel.css" rel="stylesheet">
    <!-- jsPanel JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/jspanel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

    <!-- optional jsPanel extensions -->
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/modal/jspanel.modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/tooltip/jspanel.tooltip.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/hint/jspanel.hint.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/layout/jspanel.layout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/contextmenu/jspanel.contextmenu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jspanel4@4.12.0/dist/extensions/dock/jspanel.dock.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/nl.min.js" integrity="sha512-ZfjeSBuSwzLsxhAXsxOEZOTxFJPcSYQx8l/0kN0x1Ze2SWsQU0K3hcrqEz0LpCabQuQNlOuUGHERv1ibLRtnnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <%- include("./includes/nav.ejs", {}) %>
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
            <div id='calendar'></div>
        </div>
      </div>
    </div>
    <script src="/assets/js/Calendar.js" type="text/javascript"></script>
    <script src="/assets/js/models/NewEvent.js" type="text/javascript"></script>
</body>
</html>