<!DOCTYPE html>
<html>
	<head>
        <%- include("./includes/head.ejs", {Page: "Home"}) %>
        <link rel="stylesheet" href="assets/css/bulma-slider.min.css">
        <script src="/assets/FontAwesome.Pro.6.0.0.Beta1/web/js/all.min.js"></script>
	</head>
	<body>
        <%- include("includes/nav") %>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <div style="padding-right: initial;" class="button">
                        <span class="icon is-small">
                            <i class="fa-solid fa-power-off"></i>
                        </span>
                        <div class="buttons has-addons">
                            <button onclick="LedAction('power on')" class="button is-success">On</button>
                            <button onclick="LedAction('power off')"  class="button is-danger">Off</button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <!-- document.getElementById("sliderWithValue").value -->
                    <input id="sliderWithValue" class="slider has-output is-fullwidth" min="0" max="6" value="3" step="1" type="range">
                    <output for="sliderWithValue">3</output>
                    <button onclick="LedAction('Brightness|'+document.getElementById('sliderWithValue').value, true)" class="button is-success">Set Level</button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('bright up')" class="button"><i class="fas fa-arrow-circle-up"></i></button>
                        <button onclick="LedAction('bright down')" class="button"><i class="fas fa-arrow-circle-down"></i></button>
                        <button onclick="LedAction('power off')" class="button"><i class="fas fa-lightbulb-slash"></i></button>
                        <button onclick="LedAction('power on')" class="button"><i class="fas fa-lightbulb-on"></i></button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color red')" style="color:Red" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color green')" style="color:green" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color blue')" style="color:blue" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color white')" style="background-color:lightslategray; color:white" class="button"><i class="fas fa-tint"></i></button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color scarlet')" style="color:Scarlet" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color Light Green')" style="color:lightgreen" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color periwinkle')" style="color:#CCCCFF" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode flash')" style="background-color:lightslategray" class="button">Flash</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color orange')" style="color:Orange" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color mint')" style="color:springgreen" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color purple')" style="color:purple" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode strobe')" style="background-color:lightslategray" class="button">Strobe</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color tangerine')" style="color:#F28500" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color sky')" style="color:skyblue" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color Rose')" style="color:#FF0080" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode fade')" style="background-color:lightslategray" class="button">Fade</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color yellow')" style="color:yellow" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color aqua')" style="color:aqua" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color pink')" style="color:pink" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode smooth')" style="background-color:lightslategray" class="button">Smooth</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function LedAction(action, shortcut = false) {
                var http = new XMLHttpRequest();
                var url = '/api/SendLedCommand';
                if(shortcut) {
                    var params = 'shortcut='+action;
                } else {
                    var params = 'action='+action;
                }
                http.open('POST', url, true);
        
                //Send the proper header information along with the request
                http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        
                http.onreadystatechange = function() {//Call a function when the state changes.
                    if(http.readyState == 4 && http.status == 200) {
                        // alert(http.responseText);
                    }
                }
                http.send(params);
            }
            </script>
    <script src="assets/js/bulma-slider.min.js"></script>
    <script>
        bulmaSlider.attach();
    </script>
	</body>
</html>