<!DOCTYPE html>
<html>
	<head>
        <%- include("./includes/head.ejs", {Page: "Home"}) %>
        <link rel="stylesheet" href="assets/css/bulma-slider.min.css">
        <script src="/assets/FontAwesome.Pro.6.0.0.Beta1/web/js/all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            socket.on("connect", () => {
                console.log(socket.id);
            });

            socket.on("hello", data => {
                console.log("Message: " + data);
            });
        </script>
	</head>
	<body>
        <%- include("includes/nav") %>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <div style="padding-right: initial;" class="button">
                        <span class="icon is-small">
                            <i class="fa-solid fa-power-off"></i>
                        </span>
                        <div class="buttons has-addons">
                            <button onclick="LedAction('power on')" class="button is-success">On</button>
                            <button onclick="socket.emit('Queue', 'reset'); LedAction('power off'); SetRGB({rgb: {r:0,g:0,b:0}});"  class="button is-danger">Off</button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div onclick="LedAction('Brightness|'+document.getElementById('sliderWithValue').value, true)" class="button is-success">Set Level</div>
                    <!-- document.getElementById("sliderWithValue").value -->
                    <input id="sliderWithValue" class="slider has-output is-fullwidth" min="0" max="6" value="3" step="1" type="range">
                    <output for="sliderWithValue">3</output>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('bright up')" class="button"><i class="fas fa-arrow-circle-up"></i></button>
                        <button onclick="LedAction('bright down')" class="button"><i class="fas fa-arrow-circle-down"></i></button>
                        <button onclick="LedAction('power off');" class="button"><i class="fas fa-lightbulb-slash"></i></button>
                        <button onclick="LedAction('power on')" class="button"><i class="fas fa-lightbulb-on"></i></button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color red')" style="color:Red" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color green')" style="color:green" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color blue')" style="color:blue" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color white')" style="background-color:lightslategray; color:white" class="button"><i class="fas fa-tint"></i></button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color scarlet')" style="color:Scarlet" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color Light Green')" style="color:lightgreen" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color periwinkle')" style="color:#CCCCFF" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode flash')" style="background-color:lightslategray" class="button">Flash</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color orange')" style="color:Orange" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color mint')" style="color:springgreen" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color purple')" style="color:purple" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode strobe')" style="background-color:lightslategray" class="button">Strobe</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color tangerine')" style="color:#F28500" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color sky')" style="color:skyblue" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color Rose')" style="color:#FF0080" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode fade')" style="background-color:lightslategray" class="button">Fade</button>
                    </div>
                    <div style="margin-bottom: -0.5rem;" class="buttons has-addons">
                        <button onclick="LedAction('color yellow')" style="color:yellow" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color aqua')" style="color:aqua" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('color pink')" style="color:pink" class="button"><i class="fas fa-tint"></i></button>
                        <button onclick="LedAction('mode smooth')" style="background-color:lightslategray" class="button">Smooth</button>
                    </div>
                </div>
                <div class="column">
                    <div id="picker"></div>
                </div>
            </div>
        </div>
        <footer class="footer" style="position: sticky;bottom:0px;">
            <div class="content has-text-centered">
                <p>
                    <strong>RGB: </strong><span id="RGBColor">???, ???, ???</span>
                    <strong>Queue: </strong><span id="QueueCount">0</span>
                </p>
            </div>
        </footer>
        <script>
            var colorPicker = new iro.ColorPicker('#picker', {
                // wheelLightness: true,
                layout: [{
                    component: iro.ui.Wheel,
                },{
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'red',
                    }
                },{
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'green',
                    }
                },{
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'blue',
                    }
                },{
                    component: iro.ui.Slider,
                    options: {
                        sliderType: 'value',
                    }
                }],
                // layoutDirection: "horizontal",
            });
            colorPicker.on('color:change', SetRGB);

            function SetRGB(action) {
                console.log(action);
                socket.emit("action", JSON.stringify({
                    action: 'rgb '+action.rgb.r+','+action.rgb.g+','+action.rgb.b,
                    shortcut: false
                }));
            }

            function LedAction(action, shortcut = false) {
                if(shortcut) {
                    socket.emit("action", JSON.stringify({
                        shortcut: action
                    }));
                } else {
                    socket.emit("action", JSON.stringify({
                        action: action
                    }));
                }
            }
            socket.on("response", data => {
                document.getElementById("RGBColor").innerHTML = data
                console.log("a 34wb ", data);
            });
            socket.on("QueueCount", data => {
                // console.log("a 34wb ", data);
                document.getElementById("QueueCount").innerHTML = data
            });
            </script>
    <script src="assets/js/bulma-slider.min.js"></script>
    <script>
        bulmaSlider.attach();
    </script>
	</body>
</html>
