<!DOCTYPE html>
<html>
  <head>
    <%- include("./includes/head.ejs", {Page: "New"}) %>
  </head>
  <body>
    <%- include("./includes/nav.ejs", {}) %>
    <div class="container">
      <div class="tabs is-centered is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small">
                <i class="fa-regular fa-clock" aria-hidden="true"></i>
              </span>
              <span>Time</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small">
                <i class="fa-solid fa-calendar-day" aria-hidden="true"></i>
              </span>
              <span>Range</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="columns">
            <div class="column">
              <input type="text" id="TimeSel" hidden/>
            </div>
            <div class="column">
              Third column
            </div>
            <div class="column">
              Fourth column
            </div>
          </div>
          <div class="columns">
            <div class="column">
              a
            </div>
            <div class="column">
              sw
            </div>
            <div class="column">
              w
            </div>
          </div>
        </div>
        <div class="column">


          <div class="list">
            <div class="list-item">
          
              <div class="list-item-content">
                <div class="list-item-title">List item</div>
                <div class="list-item-description">List item description</div>
              </div>
          
              <div class="list-item-controls">
                <div class="buttons is-right">
                  <button class="button">
                    <span class="icon is-small">
                      <i class="far fa-calendar-times"></i>
                    </span>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    flatpickr("#myID", {});
    flatpickr("#TimeSel", {
      enableTime: true,
      enableSeconds: true,
      inline: true
    });
    // flatpickr("#myID", {});
    </script>
  </body>
</html>