
      <div class="tabs is-centered is-toggle">
        <ul>
          <li<% if(Page == "DateTime") { %> class="is-active"<% } %>>
            <a href="/new/DateTime">
              <span class="icon is-small">
                <i class="fa-regular fa-clock" aria-hidden="true"></i>
              </span>
              <span>DateTime</span>
            </a>
          </li>
          <li<% if(Page == "Range") { %> class="is-active"<% } %>>
          <a href="/new/range">
              <span class="icon is-small">
                <i class="fa-solid fa-calendar-day" aria-hidden="true"></i>
              </span>
              <span>Range</span>
            </a>
          </li>
          <li<% if(Page == "CronJob") { %> class="is-active"<% } %>>
            <a href="/new/CronJob">
              <span class="icon is-small">
                <i class="fa-solid fa-calendar-day" aria-hidden="true"></i>
              </span>
              <span>CronJob</span>
            </a>
          </li>
          <li<% if(Page == "Calendar") { %> class="is-active"<% } %>>
            <a href="/new/Calendar">
              <span class="icon is-small">
                <i class="fa-solid fa-calendar-day" aria-hidden="true"></i>
              </span>
              <span>Calendar</span>
            </a>
          </li>
        </ul>
      </div>